@font-face {
	font-family: "Liberator";
	src: url("../fonts/liberator/Liberator.woff2") format("woff2"),
		url("../fonts/liberator/Liberator.Liberator.woff") format("woff"),
		url("../fonts/liberator/Liberator.Liberator.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@function theme-scale($scale) {
	@return map-get($scales, $scale);
}

$scales: (
	"minor-second": 1.067,
	"major-second": 1.125,
	"minor-third": 1.2,
	"major-third": 1.25,
	"perfect-fourth": 1.333,
	"augmented-fourth": 1.414,
	"perfect-fifth": 1.5,
	"golden-ratio": 1.618,
);

$prop: theme-scale("minor-third");
$base-size: 16px;
$mobile-base-size: 14px;
$tablet-base-size: 16px;
$lead-size: 1rem * $prop;
$max-heading: 6;
$body-font: "Inter", sans-serif;
$main-heading-font: "Liberator", sans-serif;
$mobile-padding: 2rem;

@function pow($number, $exponent) {
	$value: 1;

	@if $exponent > 0 {
		@for $i from 1 through $exponent {
			$value: $value * $number;
		}
	}

	@return $value;
}

@function heading-level($level) {
	@return $lead-size * pow($prop, 7 - $level);
}

html {
	font-size: $mobile-base-size;
	@media (min-width: 750px) {
		font-size: $tablet-base-size;
	}
	@media (min-width: 1200px) {
		font-size: $base-size;
	}
}

@for $i from 1 through $max-heading {
	.h#{$i},
	h#{$i} {
		font-size: heading-level($i);
		font-family: $main-heading-font;
		font-weight: 700;
		line-height: 1;
		margin-bottom: $mobile-padding/4;
	}
}

p {
	font-size: 1rem;
	&.lead {
		font-size: $lead-size;
		line-height: 1.5;
		font-weight: 800;
	}
}
