$imageIds: "propaneInstalls", "naturalGas", "fireFeature", "poolHeater",
	"tanklessWH", "consulting";

.knowledge {
	position: relative;
	background: url("https://images.unsplash.com/photo-1523103271472-bb1b4dbd386a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3456&q=80")
		rgba(0, 0, 0, 0.6) center center no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	color: white;
	padding-block: 3rem;
	text-align: center;

	h2 {
		color: white;
		span {
			color: $shjblue;
		}
	}

	p {
		max-width: 500ch;
	}
}

.pageContent {
	display: grid;
	grid-gap: 1rem;
	padding: 3rem 1rem;
	max-width: 100%;
	margin: 0 auto;
	font-family: $fontsans;

	@media (min-width: $phone-sm) {
		grid-template-columns: repeat(1, 1fr);
	}

	@media (min-width: $tablet-md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $desktop-lg) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);

	@media (min-width: $tablet-md) {
		height: 350px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		background-size: cover;
		background-position: 0 0;
		transition: transform calc($delay * 1.5) $bezier;
		pointer-events: none;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		background-image: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.32) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.54) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.79) 100%
		);
		transform: translateY(-50%);
		transition: transform calc($delay * 2) $bezier;
	}

	@each $id in $imageIds {
		$i: index($imageIds, $id);

		&:nth-child(#{$i}):before {
			background-image: url(/images/services/#{$id}.webp);
		}
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform $delay $bezier;
	z-index: 1;

	> * + * {
		margin-top: 1rem;
	}
}

.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);
}

.copy {
	font-family: $body-font;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

@media (hover: hover) and (min-width: $tablet-md) {
	.card:after {
		transform: translateY(0);
	}

	.content {
		transform: translateY(calc(100% - 4.5rem));

		> *:not(.title) {
			opacity: 0;
			transform: translateY(1rem);
			transition: transform $delay $bezier, opacity $delay $bezier;
		}
	}

	.card:hover,
	.card:focus-within {
		align-items: center;

		&:before {
			transform: translateY(-4%);
		}
		&:after {
			transform: translateY(-50%);
		}

		.content {
			transform: translateY(0);

			> *:not(.title) {
				opacity: 1;
				transform: translateY(0);
				transition-delay: calc($delay / 8);
			}
		}
	}

	.card:focus-within {
		&:before,
		&:after,
		.content,
		.content > *:not(.title) {
			transition-duration: 0s;
		}
	}
}
