.serviceArea {
	background: url("/images/marblebg.webp");
	background-size: cover;
	padding-block: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h2 {
		color: $shjblue;
		margin: 0;

		small {
			color: black;
			font-family: $bodyFont;
			font-size: 1.5625rem;
			text-transform: uppercase;
			display: block;
			font-weight: 900;
			letter-spacing: 0.1rem;
		}
	}

	.listGroup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-block: 1rem;
		font-size: 1.25rem;
		font-weight: 600;
		text-transform: uppercase;

		@include tablet {
			flex-direction: row;
			gap: 3rem;
		}

		ul {
			marker: none;
			li {
				display: block;
			}
		}
	}

	.availability {
		font-family: $btnFont;
		font-size: 1.953rem;
		line-height: 1.75rem;
	}
}
